# Getting Started

In [1]:
import sys

In [2]:
print(sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [3]:
import platform

In [4]:
platform.python_version()

'3.8.5'

In [5]:
# A Hello World example
print("Hello World")

Hello World

## test number operation

In [6]:
3 + 5

8

In [7]:
8*4

32

# Variables and Assignment

In [8]:
# The variable x referes to he memory location of the assigned value
x = 3

In [9]:
# type function indicates the type of the variable, 
# very useful to explore the more complex types we will encounter when we build models. 
type(x)

int

In [10]:
y = 2.1

In [11]:
type(y)

float

In [12]:
z = 'test'

In [13]:
id(z)

456448887728

In [14]:
id(y)

456501796656

# Memory Allocation

In [15]:
# The basic data types are immutable objects. 
# An immutable object doesn't allow the contents to be modified. 
# Trying to modify the content will create a new object 
# Note in the below example the address printed are different. 
x = 10
print(id(x))
x = x + 1
print(id(x))

140725076109376
140725076109408

In [16]:
type(z)

str

In [17]:
first_string_variable='test'
first_integer_variable = 123

In [18]:
print(first_string_variable)
print(first_integer_variable)

test
123

In [19]:
print(type(first_integer_variable))
print(type(first_string_variable))

<class 'int'>
<class 'str'>

# Multiple Assignments

In [20]:
number_example = 2

In [21]:
number_example

2

In [22]:
integer_x , integer_y = 5 ,22

In [23]:
integer_x

5

In [24]:
integer_y

22

# Basic Data Types : Integer & Float

In [25]:
# This is the behaviour in python 3 in python 2 the value will be rounded to the nearest integer so the answer will be 3
int_number = 7/2
int_number

3.5

# Basic Data Types : String

In [26]:
# string with single quotes
string_one = 'first string'
# string with double quotes
string_two = "second string"
# string with three double quotes
string_three = """third string"""

In [27]:
print(string_one)
print(string_two)
print(string_three)

first string
second string
third string

# Basic Data Types : None and Boolean

In [28]:
num_x = None

In [32]:
type(num_x)

int

In [33]:
num_x is None

False

In [34]:
num_x = 10
num_x is None

False

# Type Casting

You can change the data type of a number using type casting

In [35]:
float_number = 3.6467

In [36]:
float_number

3.6467

In [37]:
int(float_number)

3

In [38]:
str(float_number)

'3.6467'

In [40]:
float_number.as_integer_ratio

# Data Structure : Tuple

A tuple is a one-dimensional , immutable ordered sequence of items which can hold mixed data types

In [41]:
first_tuple = (12, 'jack',45.6,True,(3,2),'test',True)

In [42]:
first_tuple.index(True)

3

In [43]:
first_tuple[0]

12

In [5]:
first_tuple[1]

'jack'

In [44]:
# Try to modify a tuple
first_tuple[0] = 'new value'

TypeError: 'tuple' object does not support item assignment

## Data Structure : Accessing Tuples

In [45]:
# Accessing elements using a positive index
# The index count starts from the left, with the first index being 0
first_tuple[0]

12

In [46]:
# Accessing element usina a negative index
# The index count starts from the right, with the first index being -1
first_tuple[-1]

True

In [47]:
first_tuple[-3]

(3, 2)

## Data Structure : Slicing Tuples

In [ ]:
first_tuple

In [ ]:
# Creating a subset/slice of the orignal tuple
# Specify the indicies of the elements, seperated by a colon
# The first index is inclusive; the second index is exclusive
first_tuple[1:3]

In [ ]:
# so to slice all the way to the end element
first_tuple[2:6]

In [48]:
# you can use negative indices as well to slice a tuple
# count from the right, starting from -1 to specify the correct index
first_tuple[1 : -1]

('jack', 45.6, True, (3, 2), 'test')

In [60]:
first_tuple[::-1]  #reverse

(True, 'test', (3, 2), True, 45.6, 'jack', 12)

In [50]:
first_tuple.count('jackie')

1

# Data Structure : List

A list is a one-dimensional mutable ordered sequence of items which can be of mixed data types

In [61]:
first_list = ['Mark',101,23,'test',None,11]

In [62]:
first_list

['Mark', 101, 23, 'test', None, 11]

In [63]:
# append an element to the end of the list
first_list.append("jack")

In [64]:
first_list

['Mark', 101, 23, 'test', None, 11, 'jack']

In [65]:
# Remove an element using its value from the list
first_list.remove('Mark')

In [66]:
first_list

[101, 23, 'test', None, 11, 'jack']

In [67]:
# remove an element from the list using the index
first_list.pop(2)

'test'

In [68]:
first_list

[101, 23, None, 11, 'jack']

In [70]:
# Modify a list by inserting an element at a specific position in the list
first_list.insert(1,'smith')
first_list

[101, 'smith', 'smith', 23, None, 11, 'jack']

## Data Structures : Accessing Lists

Like tuples you can access the elements in a list through indices

# Data Structure : Dictionary (dict)

Dictionaries store a mapping between a set of keys and a set of values

The content in dictionary exist as key value pairs

In [71]:
first_dict = {'Jhon':'john@abc.com','kelly':'k@abc.com','id':[23,18]}

In [72]:
first_dict

{'Jhon': 'john@abc.com', 'kelly': 'k@abc.com', 'id': [23, 18]}

In [73]:
# View all the keys
first_dict.keys()

dict_keys(['Jhon', 'kelly', 'id'])

In [74]:
# View values only
first_dict.values()

dict_values(['john@abc.com', 'k@abc.com', [23, 18]])

In [75]:
second_dict = {(1,2):'raj'}

In [76]:
second_dict[(1,2)]

'raj'

In [78]:
#The dir() function returns properties and methods of the specified object,
#This returns all the properties and methods, even built-in properties which are default for all object 

dir(second_dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [44]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [39]:
dictionarystudent = { "ID" : [1000,1010,1020,1030,1040], "Name" : ["Alex","Monica","Thomas","Sydney","Peterson"], "Salary" : [10000,10500,11000,11500,12000], "is_probation" : [True,True,True,False,False] }

In [ ]:
var.sort(reverse=True)

## Data Structure : Access and Modify Dict Elements

In [79]:
# Accessing with Key 
first_dict['Jhon']

'john@abc.com'

In [80]:
first_dict['id']

[23, 18]

In [81]:
# Modify dictionay value
first_dict.update({'id':[32,35]})

In [82]:
first_dict

{'Jhon': 'john@abc.com', 'kelly': 'k@abc.com', 'id': [32, 35]}

In [83]:
# deleting an entry in a dictionary
del first_dict['id']

In [84]:
first_dict

{'Jhon': 'john@abc.com', 'kelly': 'k@abc.com'}

# Data Structure : Set

A Set is an unorder collection of unique elements

In [85]:
auto_survey = set(['Audi','BMW','BMW','Ferrai','GM','Merc','GM'])

In [86]:
auto_survey

{'Audi', 'BMW', 'Ferrai', 'GM', 'Merc'}

In [87]:
type(auto_survey)

set

## Operations

In [88]:
american_brands = set(['Ford','GMC','Dodge','Chevy','Cadillac'])

asian_brands = set(['Hyundai','Honda','Toyota','Ford','Chevy'])

european_brands = set(['BMW','Volvo','Ford','GM'])

In [89]:
all_brands_in_world = american_brands | asian_brands | european_brands

In [90]:
all_brands_in_world

{'BMW',
 'Cadillac',
 'Chevy',
 'Dodge',
 'Ford',
 'GM',
 'GMC',
 'Honda',
 'Hyundai',
 'Toyota',
 'Volvo'}

In [91]:
brands_all_parts_of_world = american_brands & asian_brands & european_brands

In [92]:
brands_all_parts_of_world

{'Ford'}

# Basic Operator : "in"

The 'in' operator is used to generate a Boolean value to indicate whether a given value is present in the container or not

In [93]:
student_list = ['animesh','chandraleela','monica','brian','peu','manvish','reshma','kishore']

In [94]:
'monica' in student_list

True

In [95]:
'Mark' in student_list

False

In [96]:
# Test the presence of substrings in a string
word = 'DS for python'

'D' in word

True

In [97]:
'a' in word

False

# Basic operator "+"

In [98]:
test_score1 = (68,96,71)
test_score2 = (92,87,83)

In [99]:
# Add two tuppples
test_score1 + test_score2

(68, 96, 71, 92, 87, 83)

In [100]:
country_list1 = ['USA','Canada','Brazil','Mexico']
country_list2 = ['India','China','Srilanka']

country_list1 + country_list2

['USA', 'Canada', 'Brazil', 'Mexico', 'India', 'China', 'Srilanka']

# Basic operator "*"

# Functions

In [101]:
# My first python functions

def my_first_python_fun(arg1,arg2):
    changed_string = ("I combined %s and %s" %(arg1,arg2))
    return changed_string

my_first_python_fun("DS", "Python")

'I combined DS and Python'

In [102]:
# Multiple return values from a function

def multi_return_fun():
    age = 20
    name = "xyz"
    address = "abc"
    return age,name,address

age,name,address = multi_return_fun()
print(age,name,address)

20 xyz abc

# Built in sequence functions

## Enumerate

In [103]:
store_list = ['McDonald','Taco Bell','Dunkin','Wendys']

In [104]:
print(list(enumerate(store_list)))

[(0, 'McDonald'), (1, 'Taco Bell'), (2, 'Dunkin'), (3, 'Wendys')]

In [105]:
print(list(enumerate(store_list,10)))

[(10, 'McDonald'), (11, 'Taco Bell'), (12, 'Dunkin'), (13, 'Wendys')]

In [106]:
store_map = dict((name,pos) for pos,name in enumerate(store_list))

In [107]:
store_map

{'McDonald': 0, 'Taco Bell': 1, 'Dunkin': 2, 'Wendys': 3}

## Sorted

In [108]:
sort_entry = sorted('the data science')

In [ ]:
type(sort_entry)

In [ ]:
sort_entry

## Reversed

In [ ]:
rev = reversed('the data science')

In [ ]:
type(rev)

In [ ]:
list(rev)

## Zip

In [50]:
subjects = ['math','stats','science']
subject_students=[56,48,97,112]

In [51]:
total_subj = zip(subjects,subject_students)

In [52]:
type(total_subj)

zip

In [53]:
a = list(total_subj)

In [54]:
a

[('math', 56), ('stats', 48), ('science', 97)]

In [85]:
a[0]

('math', 56)

In [78]:
a

[]

# Control Flow

The program flow control statements

## if , elif and else

In [ ]:
age = 21

def adult_finder(age):
    if(age > 18):
        return 'Major'
    else:
        return 'Minor'

In [ ]:
adult_finder(16)

In [ ]:
adult_finder(25)

## For loops

A 'for' loop is used to iterate over a collection

In [ ]:
tech_compaines = ['Apple','Microsoft','Google',None,'Amazon','Facebook']

In [ ]:
for one_company in tech_compaines:
    if(one_company is None):
        continue # continues the foor loop
    print(one_company)

In [ ]:
for one_company in tech_compaines:
    if(one_company is None):
        break # breaks the for loop
    print(one_company)

## While loops

A while loop specifies a condition unitll whic a block of code has to run

In [ ]:
temperature = 100

while temperature > 95:
    print(temperature)
    temperature -= 1 # same as temperature = temparatue - 1

## Exception Handling

Handling exceptions is an important part of building robust programs

**Reference : https://docs.python.org/3/tutorial/errors.html**

In [ ]:
def float_number(number):
    return float(number)

In [ ]:
float_number('7.265')

In [ ]:
float_number("DS with Python")

In [ ]:
def test_float_with_exp(number):
    try:         
        return float(number)
    except ValueError:
        return 'not a valid numeric',number

In [ ]:
test_float_with_exp('test')