In [1]:
#create a set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [2]:
#accessing the items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [3]:
#if a particular item is present in the set
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [4]:
#add 1 item
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

In [6]:
#add more than 1 item
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'cherry', 'orange', 'grapes', 'apple', 'banana', 'mango'}

In [8]:
#get the number of items in the set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [7]:
#remove an item
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [8]:
#remove an item
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [9]:
#removes the last item
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [10]:
#clear the set
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [9]:
#delet the set
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [12]:
#join 2 sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [13]:
#insert one set into another
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [14]:
#create a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}