# **Name : Harsha Singh**

Date : 22.06.2021

**In this task you should use Pandas to answer a few questions about the Adult Dataset(provided).

Unique values of all features:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult_csv.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capitalgain     48842 non-null  int64
 11  capitalloss     48842 non-null  int64
 12  hoursperweek    48842 non-null  int64
 13  native-country  47985 non-null  object
 14  class           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data.shape

(48842, 15)

In [5]:
data.isnull().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capitalgain          0
capitalloss          0
hoursperweek         0
native-country     857
class                0
dtype: int64

In [6]:
2800/48842

0.05732770975799517

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [7]:
# You code here
data['sex'].value_counts()

Male      32650
Female    16192
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [8]:
# You code here
data['age'][(data['sex']=='Female')].mean()

1.6038784584980237

**3. What is the percentage of German citizens (*native-country* feature)?**

In [9]:
# You code here
total = data.shape[0]
print("Total Number of Citizens from different native countries :{} \n".format(total))
german_citizens = len(data[data['native-country']=='Germany'])
print("Total Number of Citizens from native country Germany :{} \n".format(german_citizens))

Total Number of Citizens from different native countries :48842

Total Number of Citizens from native country Germany :206

In [10]:
print("The Percentage of Germans is ----> ",german_citizens*100/total)

The Percentage of Germans is ---->  0.421768150362393

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [11]:
data['class'].unique()

array(['<=50K', '>50K'], dtype=object)

In [12]:
# You code here
mean_gt_50k = data['age'][(data['class']=='>50K')].mean()
sd_gt_50k = data['age'][(data['class']=='>50K')].std()
print("\"The mean and standard deviation of age for those who earn more than 50K per year are \" \n  {} and {} respectively.\n".format(mean_gt_50k,sd_gt_50k))

# You code here
mean_lt_50k = data['age'][(data['class']=='<=50K')].mean()
sd_lt_50k = data['age'][(data['class']=='<=50K')].std()
print("\"The mean and standard deviation of age for those who earn more less than 50K per year are \" \n {} and {} respectively.\n".format(mean_lt_50k,sd_lt_50k))

"The mean and standard deviation of age for those who earn more than 50K per year are "
  2.3460254984170446 and 1.010075584122801 respectively.

"The mean and standard deviation of age for those who earn more less than 50K per year are "
 1.5902301170771094 and 1.3222117421838715 respectively.

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [13]:
# You code here
data['education'][(data['class']=='>50K')].value_counts()

Bachelors       3313
HS-grad         2503
Some-college    2063
Masters         1459
Prof-school      617
Assoc-voc        522
Doctorate        431
Assoc-acdm       413
11th              92
10th              87
7th-8th           62
12th              48
9th               41
5th-6th           27
1st-4th            8
Preschool          1
Name: education, dtype: int64

**We see there are people earning more than 50K even with education level being less than a high school education,
Hence this statement is not true**

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [14]:
# You code here
val = data.groupby(['race','sex'])["age"].describe()
val

                             count      mean       std  min  25%  50%  75%  \
race               sex
Amer-Indian-Eskimo Female    185.0  1.583784  1.274651  0.0  1.0  1.0  3.0
                   Male      285.0  1.603509  1.135528  0.0  1.0  1.0  2.0
Asian-Pac-Islander Female    517.0  1.481625  1.211281  0.0  0.0  1.0  2.0
                   Male     1002.0  1.782435  1.197137  0.0  1.0  2.0  3.0
Black              Female   2308.0  1.712738  1.240228  0.0  1.0  2.0  3.0
                   Male     2377.0  1.711822  1.254554  0.0  1.0  2.0  3.0
Other              Female    155.0  1.090323  1.107048  0.0  0.0  1.0  2.0
                   Male      251.0  1.454183  1.156241  0.0  1.0  1.0  2.0
White              Female  13027.0  1.595839  1.352648  0.0  0.0  1.0  3.0
                   Male    28735.0  1.874230  1.273180  0.0  1.0  2.0  3.0

                           max
race               sex
Amer-Indian-Eskimo Female  4.0
                   Male    4.0
Asian-Pac-Islander Female  4.0
                   Male    4.0
Black              Female  4.0
                   Male    4.0
Other              Female  4.0
                   Male    4.0
White              Female  4.0
                   Male    4.0

In [15]:
print("The maximum age of men of Amer-Indian-Eskimo race is :",val.loc['Amer-Indian-Eskimo','Male']['max'])

The maximum age of men of Amer-Indian-Eskimo race is : 4.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [16]:
# You code here
married_men  = len(data[(data["marital-status"].str.contains('Married')) & (data['sex']=="Male") & (data['class']=='>50K')])
print("The count of Men who earn a lot and are married are :\n",married_men)
single_men = len(data[~data["marital-status"].str.contains('Married') & (data['sex']=="Male") & (data['class']=='>50K')])
print("The count of Men who earn a lot and are single are :\n",single_men)

The count of Men who earn a lot and are married are :
 8917
The count of Men who earn a lot and are single are :
 1001

<h2>The proportion of those who earn a lot (>50K) are Married Men</h2>

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [17]:
# You code here
max_hrs = data['hoursperweek'].max()
print("The max no of hours a person works per week is:",max_hrs)
no_of_ppl = data[data['hoursperweek'] == max_hrs].shape[0]
print("The number of people who work {} hours per week  are {}".format(max_hrs,no_of_ppl))
percent = len(data[(data['hoursperweek'] == max_hrs) & (data['class']=='>50K')])/no_of_ppl
print("Percentage of people who work {} hours per week and earn a lot(>50K) among all is {:.2f} : ".format(max_hrs,percent*100))

The max no of hours a person works per week is: 4
The number of people who work 4 hours per week  are 1676
Percentage of people who work 4 hours per week and earn a lot(>50K) among all is 35.74 :

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [18]:
# You code here
#Group by based on class and native-country and count hoursperweek
groupbyframeval = data.groupby(['class','native-country'])["hoursperweek"].describe()

In [19]:
groupbyframeval

                         count      mean       std  min  25%  50%  75%  max
class native-country
<=50K Cambodia            19.0  2.052632  0.229416  2.0  2.0  2.0  2.0  3.0
      Canada             119.0  1.739496  1.037126  0.0  1.0  2.0  2.0  4.0
      China               86.0  1.674419  0.900220  0.0  1.0  2.0  2.0  3.0
      Columbia            81.0  1.827160  0.738074  0.0  2.0  2.0  2.0  4.0
      Cuba               104.0  1.884615  0.804208  0.0  2.0  2.0  2.0  4.0
...                        ...       ...       ...  ...  ...  ...  ...  ...
>50K  Thailand             5.0  3.000000  0.707107  2.0  3.0  3.0  3.0  4.0
      Trinadad&Tobago      2.0  2.000000  0.000000  2.0  2.0  2.0  2.0  2.0
      United-States    10694.0  2.334113  0.759073  0.0  2.0  2.0  3.0  4.0
      Vietnam              7.0  2.000000  0.000000  2.0  2.0  2.0  2.0  2.0
      Yugoslavia           8.0  2.250000  1.164965  0.0  2.0  2.0  3.0  4.0

[81 rows x 8 columns]

In [20]:
res_little= groupbyframeval.loc['<=50K','Japan']['count']
print("The count of hours per week for those who earn a little in Japan is :",res_little)

The count of hours per week for those who earn a little in Japan is : 60.0

In [21]:
res_lot = groupbyframeval.loc['>50K','Japan']['count']
print("The count of hours per week for those who earn a lot in Japan is :",res_lot)

The count of hours per week for those who earn a lot in Japan is : 32.0

In [22]:
# Let's see the average time of work for Japan country

In [23]:
res_little= groupbyframeval.loc['<=50K','Japan']['mean']
print("The average time of work for those who earn a little in Japan is :",res_little)

The average time of work for those who earn a little in Japan is : 1.9

In [24]:
res_lot = groupbyframeval.loc['>50K','Japan']['mean']
print("The average time of work for those who earn a lot in Japan is :",round(res_lot,3))

The average time of work for those who earn a lot in Japan is : 2.438